/* estilos padrão para a navbar */
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: green;
  height: 50px;
  width: 100%;
}

.navProduct {
  display: flex;
  background-color: #2FC18C;
  width: 20%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.navPedidos {
  display: flex;
  background-color: #036B52;
  width: 70%;
  height: 100%;
  align-items: center;
  justify-content: left;
  /* margin-right: ; */
  padding-left: 20px;
  font-weight: bold;
}

.navUser {
  display: flex;
  background-color: #421981;
  width: 15%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  /* padding-left: 50px; */
}

.navLogout {
  display: flex;
  background-color: #056CF9;
  width: 10%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

/* estilos para telas menores que 768px */
@media only screen and (max-width: 767px) {
  .navProduct {
    width: 30%;
    justify-content: left;
    padding-left: 20px;
  }
  .navPedidos {
    width: 60%;
    justify-content: center;
    padding-left: 0;
  }
  .navUser {
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
  }
  .navLogout {
    width: 10%;
  }
}

/* estilos para telas maiores ou iguais a 768px */
@media only screen and (min-width: 768px) {
  .navProduct {
    width: 20%;
    justify-content: center;
    padding-left: 0;
  }
  .navPedidos {
    width: 60%;
    justify-content: left;
    padding-left: 20px;
  }
  .navUser {
    display: flex;
    width: 10%;
    justify-content: center;
    /* padding-left: 25px; */
    align-items: center;
  }
  .navLogout {
    width: 10%;
  }
}
